name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'

      - name: Build
        run: go build -mod=vendor -trimpath -buildmode=pie -ldflags "-w -s" -v ./...

      - name: Test
        run: go test -v ./...
